<div class="card" id="gradient">
    <div class="card-header" id="btns">
        <div class="search">
            <input type="search" id="search-box" placeholder="Filter by Id" [(ngModel)]="listFilter">
        </div>
        <button class="Get" id="http-btn-get" [disabled]="clicked" (click)="getTodoItem()">Get</button>
        <button class="Post" id="http-btn-post" [disabled]="clicked" (click)="openModal()">Post</button>
    </div>
    <div class="card-body">
        <div class="row" id="row-1">
            <div class="col-md-2">
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="todoItems.length">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>CreatedAt</th>
                        <th>FinishedAt</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todoItem of todoItemfiltered">
                        <td>{{todoItem.id}}</td>
                        <td>{{todoItem.description}}</td>
                        <td>{{todoItem.createdAt}}</td>
                        <td>{{todoItem.finishedAt}}</td>
                        <td>{{todoItem.status}}</td>
                        <td>
                            <div id="btns-two">
                                <button class="Put" id="http-btn-edit" [disabled]="clicked" (click)="openUpdateModal(todoItem.id)">Edit</button>
                                <button class="Delete" id="http-btn-delete" [disabled]="clicked" (click)="deleteTodoItem(todoItem.id)"> Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
