<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Post</h4>
        </div>
        <div class="modal-body">
            <textarea name="message" id="message" rows="6" cols="60">
                {{modalText}}
                </textarea>
        </div>
        <div class="modal-footer">
            <button type="button" id="modal-btn" class="btn btn-default" data-dismiss="modal" (click)="onCancel()">Cancel</button>
            <button type="button" id="modal-btn" class="btn btn-default" data-dismiss="modal" (click)="onCofirm()">Post</button>
        </div>
    </div>

</div>
