.modal-dialog {
    width: 40em;
    height: 10em;
}

#modal-btn:hover,
#modal-btn:focus {
    display: flex;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 0.5;
    margin: 0.2em;
    margin-top: 15px;
    color: var(--color);
    border-radius: 3px;
    transition: 0.25s;
    padding: 1em 2em;
}

#modal-btn:hover,
#modal-btn:focus {
    --color: #ff882c;
    --hover: #ff6f00;
}

.modal-content {
    display: inline-table;
    background-color: rgb(56, 52, 52);
    color: #ff882c;
    width: 1em;
    height: 1em;
}

.modal-dialog {
    background-color: rgb(56, 52, 52);
    width: 50em;
    height: 25em;
}
