<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Edit</h4>
        </div>
        <div class="modal-body">
            <textarea name="message" id="message" rows="6" cols="60" #valueTodo>
                {{modalText}}
                </textarea>
        </div>
        <div class="modal-footer">
            <button type="button" id="modal-btn" data-dismiss="modal" (click)="onCancel()">Cancel</button>
            <button type="button" id="modal-btn" data-dismiss="modal" (click)="onCofirm(valueTodo.value)">Edit</button>
        </div>
    </div>

</div>
